
.slides {
  padding-top: 10px;
  padding-bottom: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

header, section {padding: 10px 20px;}