pre, style {
  text-align: left;
  font-size: 1.2rem;
  padding: 10px 20px;
  background: rgba(255,255,255, 0.1);
  border-radius: 8px;
  border: 1px solid  rgba(255,255,255, 0.4);
  line-height: 1.6;
  tab-size: 2;
}
pre b {
  font-weight: normal;
  color: #c61800;
  text-shadow: #c61800 0 0 1px;
}
pre em {
  font-weight: normal;
  font-style: normal;
  color: #18a600;
  text-shadow: #18a600 0 0 1px;
}
pre {
  max-height: 80vh;
  overflow: auto;
}
